<!DOCTYPE html>
<html lang="fr">
<head>
	<title>Accueil</title>
	<meta charset="UTF-8">
</head>
<body>
	<nav>
		<a href="/maps"><h3>MAP</h3></a>
	</nav>
	<h1>{{district}}</h1>

	<p> Moyenne de la capacité maximal: {{moy_capa}}</p>
	<p> Moyenne du nombre de bornes disponibles: {{moy_borne}}</p>
	<p> Moyenne du nombre de vélos disponibles: {{moy_velo}}</p>
	<p> Moyenne du nombre de vélos électriques disponibles: {{moy_ebike}}</p>
	<p> Moyenne du nombre de méchaniques disponibles: {{moy_mbike}}</p>


	<form action="./" method="get">
		<input type="text" name="district" value="Name of City or '%' for select all city"/>
		<label>Start date and time: </label>
		<input type="date" name="start_date" value="Start Date"/>
		<input type="time" name="start_time" value="Start Time"/>
		<label>End date and time: </label>
		<input type="date" name="end_date" value="End Date"/>
		<input type="time" name="end_time" value="End Time"/>
		<input type="submit" value="Submit" />
	</form>
	<p>DATA : Depuis {{start_date}} à {{end_date}}</p>
	{% load static %}
	<img src="{% static 'maps/img/Pourcentage_bikes_district.png' %}" alt="Pourcentages des types de vélos">
	<img src="{% static 'maps/img/Pourcentage_borne_district.png' %}" alt="Pourcentages des bornes disponibles et des vélos disponibles">
	<img src="{% static 'maps/img/Evol_graph_district.png' %}" alt="Evolution des informations de la station">
</body>